{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "semi": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "max-len": ["error", { "code": 120 }]
  },
  "env": {
    "node": true
  }
}